<h1>Simple Ecommerce Web App</h1>
<h2>Simplifica Tu Tienda en Linea</h2>
<form action="/hook" method="post">
    <label for="txtEmail">
        Reserva tu lugar para ser de los primeros en usarlo cuando lo liberemos
    </label>
    <input type="email" value="" placeholder="tucorreo.nico" name="txtEmail" id="txtEmail">
    <br/>
    <button type="submit" name="btnAdd">Quiero Participar</button>
</form>